.heading {
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
  font-size: 25px;
}
.paragraph {
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  margin: 50px 0;
}
.specifies {
  text-align: center;
  margin: 10px 0;
  font-size: 25px;
}
.boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  text-align: center;
  margin: 10px 0;
  padding: 25px;
}
@media (max-width: 767px) {
  .boxes {
    flex-direction: column;
  }
  .paragraph {
    font-size: 20px;
  }
}
.boxes .box i {
  color: white;
  font-size: 30px;
  font-weight: bold;
  background-color: #1876bd;
  display: block;
  width: 50px;
  height: 50px;
  margin: 17px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid white;
  outline: 2px solid #1876bd;
  transition: 0.3s;
}
.boxes .box i:hover {
  background-color: white;
  color: #1876bd;
}
.boxes .box h3 {
  font-size: 20px;
  color: #1876bd;
  font-weight: bold;
}
.boxes .box p {
  max-width: 300px;
  line-height: 1.8;
  color: #777;
  margin: 10px 0;
}
